body {
    background-color: antiquewhite;
}

header {
    background-color: cornflowerblue;
}

.button-holder {
    float: right;
}

.title-header {
    display: inline;
    margin: 20px 0px;
}

.category-marking {
    color: lightgrey;
    font-style: italic;
}

.margin-above {
    margin-top: 20px;
}