<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honey Bunch Pet store</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title-header">Honey Bunch Pet Store</h1>
            <div class="button-holder">
                <a class="btn btn-warning btn-login" href="#" role="button">Log in</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>Are you sure you wish to delete {{selectedPet.name}}?</h2>
        <form action="{{url_for('deletePet', category_name=selectedCategory.name, pet_id=selectedPet.id)}}" method = 'POST'>
            <button type="submit" class="btn btn-default">Yes</button>
        </form>
        <a href= "{{url_for('showCategory', category_name=selectedCategory.name)}}">Cancel</a>
    </div>
</body>
</html>