<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honey Bunch Pet store</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title-header">Honey Bunch Pet Store</h1>
            <div class="button-holder">
                <a class="btn btn-warning btn-in-header" href="#" role="button">Log in</a>
                {% if selectedCategoryName == "None" %}
                    <a class="btn btn-warning btn-in-header" href="{{url_for('showAllJSON')}}" role="button">JSON</a>
                {% else %}
                    <a class="btn btn-warning btn-in-header" href="{{ url_for('showCategoryJSON', category_name=selectedCategoryName ) }}" role="button">JSON</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container">
        <aside class="col-md-4 col-xs-12">
            <h2>Categories:</h2>
            <div class="list-group">
                {% for category in categories %}
                    <a class="list-group-item" href="{{ url_for('showCategory', category_name=category.name ) }}">{{category.name}}</a>
                {% endfor %}
                {% if selectedCategoryName != "None" %}
                    <a class="glyphicon glyphicon-home" href="{{url_for('showAll')}}" role="button">Home</a>
                {% endif %}
            </div>
        </aside>
        <section class="col-md-8 col-xs-12">
            {% if selectedCategoryName == "None" %}
                <h2>Latest pets:</h2>
            {% else %}
                <h2>Latest pets for category {{selectedCategoryName}}:</h2>
            {% endif %}
            <div class="list-group">
                {% for pet in pets %}
                    {% for category in categories %}
                        {% if category.id == pet.category_id %}
                            <a href="{{ url_for('showPet', category_name=category.name, pet_id=pet.id ) }}">{{pet.name}} </a>
                            <span class="category-marking">({{category.name}})</span><br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if selectedCategoryName != "None" %}
                    <a class="btn btn-primary" href="{{ url_for('newPet', category_name=selectedCategoryName)}}" role="button">Add a pet</a>
                {% endif %}
            </div>
        </section>
    </div>
</body>
</html>